.product-container {
    max-width: 400px;
    margin-top: 100px !important;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  button {
    padding: 10px;
    background-color: #699ee9;
    color: white;
    border: none;
    // border-radius: 5px;
    cursor: pointer;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }