<app-header></app-header>
<nav aria-label="breadcrumb" class="m-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item active">Cart Items</li>
    </ol>
</nav>
<div class="card bg-light m-2 p-2" *ngFor="let item of cartItems">
    <div class="d-flex">
        <div>
            <img [src]="item.image" class="img-fluid" width="200" height="200" alt="">
        </div>
        <div class="mx-2">
            <h4>{{ item?.name }}</h4>
            <p>{{ item?.description }}</p>
            <div class="d-flex">
                <div class="mx-2"> Quantity : {{ item?.quantity }} </div>
                <div class="mx-2"> ₹ {{ item?.price }} </div>
                <div>
                    <button class="btn btn-primary" (click)="removeItemFromCart(item?.id)">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="cartItems.length" class="card m-2 p-2 bg-secondary text-white">
    <div class="d-flex">
        <div class="mx-2">Total Items : {{ global.cartCount.getValue() }} </div>
        <div class="mx-2">Total Price : {{ global.cartPrice.getValue() }} </div>
    </div>
</div>
<div class="text-center mt-5" *ngIf="cartItems.length == 0">
    <b>    No Items added to cart</b>
</div>