<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand">Shopping Cart</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="'/products-list'" routerLinkActive="active">Products</a>
                </li>
            </ul>
            <form class="d-flex">
                <button *ngIf="currentUrl !='/add-product'" type="button" class="btn btn-primary position-relative mx-4" [routerLink]="'/cart'">
                    Cart
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-primary">
                      {{ getCartCount() }}
                    </span>
                </button>
                <button *ngIf="logindata === 'admin' && currentUrl ==='/products-list'" (click)="setId(0)" type="button" class="btn btn-primary position-relative mx-4" [routerLink]="'/add-product'">
                    Add Product
                </button>
                <button type="button" class="btn btn-primary position-relative mx-4"(click)="logout()">
                    Log Out
                </button>
            </form>
        </div>
    </div>
</nav>