<app-header></app-header>
<nav aria-label="breadcrumb" class="m-3">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a>Home</a></li>
      <li class="breadcrumb-item active">Products</li>
    </ol>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-6" *ngFor="let product of products" (click)="navigateTo(product.id)">
            <!-- {{product | json}} -->
            <div class="card bg-light m-2 p-2">
                <div class="d-flex">
                    <div>
                        <img [src]="product.image" class="img-fluid" width="500" height="500" alt="">
                    </div>
                    <div class="mx-2">
                        <h4>{{ product?.name }}</h4>
                        <p>{{ product?.description }}</p>
                        <app-add-to-cart (newItemEvent)="addToCart($event,product)"></app-add-to-cart>
                    </div>
                    <a *ngIf="logindata ==='admin'" type="button" class="bi-pencil-square" (click)="editData(product.id)"></a>
                </div>
            </div>
        </div>
    </div>
</div>